<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>G妹遊戲_專業網頁遊戲平台_愛遊戲，愛上G妹</title>
	<link rel="stylesheet" href="./css/index.css">
	<!--[if lt IE 9]><script src="./js/plugin/html5shiv.min.js"></script><![endif]-->

</head>
<body>
	<header>
		<a href="./" class="logo"></a>
		<iframe src="./iframe/topBanner.html" frameborder="0" width="100%" scrolling="no"></iframe>
		<nav class="pie">
			
			<a  class="setHome" href="javascript:;">設爲首頁</a>
			<a  class="addFavority"  href="javascript:;">加入最愛</a>
			<span class="text">玩遊戲,上G妹</span>
		</nav>
	</header>
	<div id="con">
		<div class="mod_1">
			<div class="bar">玩遊戲拿好康</div>
			<ul>
				<li>
					<a href="">
						<div class="left">
							<img src="./images/smallPhoto/1.png" alt="">
						</div>
						<div class="right">
							<div class="up">降妖伏魔錄 s123</div>
							<div class="down">
								剩餘: <span class="num">559</span>
								<span class="get pie">領取禮包</span>
								
							</div>
						</div>
					</a>
				</li>
				<li class="second">
					<a href="">
						<div class="left">
							<img src="./images/smallPhoto/2.png" alt="">
						</div>
						<div class="right">
							<div class="up">降妖伏魔錄 s123</div>
							<div class="down">
								剩餘: <span class="num">559</span>
								<span class="haveGet pie">已领取</span>
								
							</div>
						</div>
					</a>
				</li>
				<li >
					<a href="">
						<div class="left">
							<img src="./images/smallPhoto/3.png" alt="">
						</div>
						<div class="right">
							<div class="up">降妖伏魔錄 s123</div>
							<div class="down">
								剩餘: <span class="num">559</span>
								<span class="haveGet pie">领取完</span>
								
							</div>
						</div>
					</a>
				</li>
				<li >
					<a href="">
						<div class="left">
							<img src="./images/smallPhoto/4.png" alt="">
						</div>
						<div class="right">
							<div class="up">降妖伏魔錄 s123</div>
							<div class="down">
								剩餘: <span class="num">559</span>
								<span class="get pie">領取禮包</span>
								
							</div>
						</div>
					</a>
				</li>
				<li class="last">
					<a href="">
						<div class="left">
							<img src="./images/smallPhoto/5.png" alt="">
						</div>
						<div class="right">
							<div class="up">降妖伏魔錄 s123</div>
							<div class="down">
								剩餘: <span class="num">559</span>
								<span class="get pie">領取禮包</span>
								
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>

		<div class="mod_2">
			<ul>
				<li class="first">
					<a href="">
						<div class="jiaoBiao">
							<div class="text">火影正版授權</div>
						</div>
						<div class="man">
							<img src="./images/fourGame/1/man.jpg" alt="" >
						</div>
						<img src="./images/fourGame/1/man_hover.png" alt="" class="man_hover scaleX">
						<div class="text">
							全新玩法上线!召唤通灵巨兽!文太!巨蛇!太，等你来召唤!
						</div>
						<div class="zIndex"></div>
						<span class="startGame"></span>
					</a>
				</li>
				<li class="second">
					<a href="">
						<div class="jiaoBiao">
							<div class="text">史詩級國戰</div>
						</div>
						<div class="man">
							<img src="./images/fourGame/2/man.jpg" alt="">
						</div>
						<img src="./images/fourGame/2/man_hover.png" alt="" class="man_hover scaleX">
						<div class="text">
							全新玩法上线!召唤通灵巨兽!文太!巨蛇!太，等你来召唤!
						</div>
						<div class="zIndex"></div>
						<span class="startGame"></span>
					</a>
				</li>
				<li class="third">
					<a href="">
						<div class="jiaoBiao">
							<div class="text">高度還原小說</div>
						</div>
						<div class="man">
							<img src="./images/fourGame/3/man.jpg" alt="">
						</div>
						<img src="./images/fourGame/3/man_hover.png" alt="" class="man_hover scaleX">
						<div class="text">
							全新玩法上线!召唤通灵巨兽!文太!巨蛇!太，等你来召唤!
						</div>
						<div class="zIndex"></div>
						<span class="startGame"></span>
					</a>
				</li>
				<li class="last">
					<a href="">
						<div class="jiaoBiao">
							<div class="text">怒斬紂王</div>
						</div>
						<div class="man">
							<img src="./images/fourGame/4/man.jpg" alt="">
						</div>
						<img src="./images/fourGame/4/man_hover.png" alt="" class="man_hover scaleX">
						<div class="text">
							全新玩法上线!召唤通灵巨兽!文太!巨蛇!太，等你来召唤!
						</div>
						<div class="zIndex"></div>
						<span class="startGame"></span>
					</a>
				</li>
			</ul>
		</div>

		<div class="mod_3">
			<iframe src="./iframe/midBanner.html" frameborder="0" width="100%" height="90" scrolling="no"></iframe>
		</div>

		<div class="mod_4">
			<div class="bar">火爆網頁遊戲排行榜</div>
			<ul>
				<li>
					<a href="">
						<div class="item_1">
							<span class="redArrow">1</span>
						</div>
						<div class="item_2">花千骨</div>
						<div class="item_3">
							<div class="progress pie">
								<div class="progressInner">
									<span style="width:70%"></span>
								</div>
							</div>
						</div>
						<div class="item_4">
							<span class="upArrow"></span>
						</div>
					</a>
				</li>

				<li>
					<a href="">
						<div class="item_1">
							<span class="redArrow">2</span>
						</div>
						<div class="item_2">大帝國</div>
						<div class="item_3">
							<div class="progress pie">
								<div class="progressInner">
									<span style="width:40%"></span>
								</div>
							</div>
						</div>
						<div class="item_4">
							<span class="downArrow"></span>
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="item_1">
							<span class="redArrow">3</span>
						</div>
						<div class="item_2">瑯琊榜</div>
						<div class="item_3">
							<div class="progress pie">
								<div class="progressInner">
									<span style="width:47%"></span>
								</div>
							</div>
						</div>
						<div class="item_4">
							<!-- <span class="downArrow"></span> -->
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="item_1">
							<span class="grayArrow">4</span>
						</div>
						<div class="item_2">天龍八部</div>
						<div class="item_3">
							<div class="progress pie">
								<div class="progressInner">
									<span style="width:40%"></span>
								</div>
							</div>
						</div>
						<div class="item_4">
							<!-- <span class="downArrow"></span> -->
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="item_1">
							<span class="grayArrow">5</span>
						</div>
						<div class="item_2">混沌戰域</div>
						<div class="item_3">
							<div class="progress pie">
								<div class="progressInner">
									<span style="width:30%"></span>
								</div>
							</div>
						</div>
						<div class="item_4">
							<!-- <span class="downArrow"></span> -->
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="item_1">
							<span class="grayArrow">6</span>
						</div>
						<div class="item_2">百戰天下</div>
						<div class="item_3">
							<div class="progress pie">
								<div class="progressInner">
									<span style="width:40%"></span>
								</div>
							</div>
						</div>
						<div class="item_4">
							<!-- <span class="downArrow"></span> -->
						</div>
					</a>
				</li>
				<li>
					<a href="">
						<div class="item_1">
							<span class="grayArrow">7</span>
						</div>
						<div class="item_2">大天使之劍</div>
						<div class="item_3">
							<div class="progress pie">
								<div class="progressInner">
									<span style="width:40%"></span>
								</div>
							</div>
						</div>
						<div class="item_4">
							<!-- <span class="downArrow"></span> -->
						</div>
					</a>
				</li>

				<li >
					<a href="">
						<div class="item_1">
							<span class="grayArrow">8</span>
						</div>
						<div class="item_2">降龍十八掌</div>
						<div class="item_3">
							<div class="progress pie">
								<div class="progressInner">
									<span style="width:40%"></span>
								</div>
							</div>
						</div>
						<div class="item_4">
							<!-- <span class="downArrow"></span> -->
						</div>
					</a>
				</li>

				<li class="last">
					<a href="">
						<div class="item_1">
							&nbsp;
						</div>
						<div class="item_2"></div>
						<div class="item_3">
							
						</div>
						<div class="item_4">
							
						</div>
					</a>
				</li>
				
			</ul>
		</div>

		<div class="mod_5">
			<div class="heavyRecommend"></div>
			<ul>
				<li><a href="">
					<div class="left">
						<img src="./images/bigPhoto/1.jpg" alt="">
					</div>
					<div class="right">
						<div class="up">花千骨</div>
						<div class="mid">新快报记者徐绍娜在暑期档掀起热潮的《花千骨》目前正在卫视二轮热播。</div>
						<div class="down">
						<span class="enterGame"></span>
					</div>
					</div>
					
				</a></li>
				<li><a href="">
					<div class="left">
						<img src="./images/bigPhoto/2.jpg" alt="">
					</div>
					<div class="right">
						<div class="up">花千骨</div>
						<div class="mid">新快报记者徐绍娜在暑期档掀起热潮的《花千骨》目前正在卫视二轮热播。</div>
						<div class="down">
						<span class="enterGame"></span>
					</div>
					</div>
					
				</a></li>
				<li><a href="">
					<div class="left">
						<img src="./images/bigPhoto/3.jpg" alt="">
					</div>
					<div class="right">
						<div class="up">花千骨</div>
						<div class="mid">新快报记者徐绍娜在暑期档掀起热潮的《花千骨》目前正在卫视二轮热播。</div>
						<div class="down">
						<span class="enterGame"></span>
					</div>
					</div>
					
				</a></li>
				<li><a href="">
					<div class="left">
						<img src="./images/bigPhoto/4.jpg" alt="">
					</div>
					<div class="right">
						<div class="up">花千骨</div>
						<div class="mid">新快报记者徐绍娜在暑期档掀起热潮的《花千骨》目前正在卫视二轮热播。</div>
						<div class="down">
						<span class="enterGame"></span>
					</div>
					</div>
					
				</a></li>
			</ul>
		</div>
	</div>

	<script>var require = {baseUrl: './js'};</script>
	<script data-main="index/main" src="./js/lib/require/require.js"></script>
</body>
</html>